@media(min-width: 768px) {
    main {
        overflow: visible;
    }
}




/* @media(max-width: 425px) {
    main div#tabela_periodica {
        transform: scale(0.8) translateX(-108px);
    }
} */


/* main div#tabela_periodica {
        width: 900px;
        height: 475px;
    }
    div#tabela_periodica input.element_over {
        font-size: 20px;
    }
    div#tabela_periodica input.element_over::placeholder {
        font-size: 16px;
    }
    div#tabela_periodica input#element_symbol_over::placeholder {
        font-size: 10px;
    }
    div#tabela_periodica input#element_group_over {
        font-size: 12.5px;
    }
    div.element div.symbol {
        font-size: 18px;
    }
    div.element div.number {
        font-size: 12px;
    }
    div#tabela_periodica div#more_lantanideos,
    div#tabela_periodica div#more_actinidios {
        font-size: 10px;
    }
    div#play_game input,
    div#play_game button {
        font-size: 20px; 
    } */